/* This goes in HomePage.css */
.home-page {
  width: 100vw;
  min-height: 100vh; /* Changed to min-height to allow more content */
  position: relative; /* Needed if you plan to absolutely position any child elements */
  font-family: "Lato";
}

.home-page .cover-photo {
  width: 99vw;
}

/* Add this new style */
.home-page .cover-photo-container {
  position: relative;
}

.home-page .cover-text {
  position: absolute;
  top: 20%; /* Center the text vertically */
  left: 50%; /* Center the text horizontally */
  transform: translate(-50%, -50%); /* Center the text horizontally */
  color: white; /* Example text color */
  font-size: 24px; /* Example font size */
}
.home-page .cover-text {
  text-align: center;
}
.home-page .heading {
  font-size: 50px;
  font-weight: 400;
  color: #000;
  margin: 0;
}
.home-page .sub-heading {
  font-size: 30px;
  color: #000;
  margin: 20px;
}
.home-page .stats {
  color: #000; /* Choose a color that contrasts with your background */

  height: 600px;
}

.home-page .num-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.home-page .num-elems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page .num-elems .num {
  font-size: 80px;
  margin: 10px 0;
  color: #fff;
}

.home-page .num-elems .num-text {
  font-size: 50px;
  color: #fff;
  margin: 5px 0;
}

.home-page .mentors {
  background-image: url("../assets/mentors.png");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.home-page .mentees {
  background-image: url("../assets/mentees.png");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.home-page .sponsors {
  background-image: url("../assets/sponsors.png");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
  border-radius: 5px;
}

.home-page .our-sponsors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
  width: 100%;
}

.home-page .our-sponsors > p,
.home-page .stories > p {
  font-size: 40px;
  color: #000;
  margin: 0;
}

.home-page .our-sponsors .logos {
  margin-top: 50px;
  background-image: url("../assets/sponsor_logos.png");
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 500px;
  margin-bottom: 80px;
}

.home-page .stories {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.home-page .story-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.home-page .story-card > img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.home-page .story-card {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page .story-card > p {
  font-size: 18px;
  font-style: italic;
}
