.login-page {
  position: relative; /* This allows for absolute positioning inside */
  width: 100vw;
  height: 100vh;
}

.login-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.create-account-button {
  position: absolute;
  z-index: 10;
  bottom: 34%; /* Adjust this value to position the button over the image button */
  left: 73%; /* Centers the button on the screen */
  transform: translateX(-50%); /* Adjust horizontal centering */
  padding: 15px 120px; /* Adjust padding as needed */
  /* Add additional styling for the button here */
}
